In [1]:
import numpy as np
import pandas as pd
import re
import matplotlib.pyplot as plt
from wordcloud import WordCloud

from konlpy.tag import Okt         ; t = Okt()     # 구 트위터
from konlpy.tag import *

import nltk
import pickle

In [16]:
df_with = pd.read_csv('./with_name/all_headlines.tsv', sep="\t")

In [17]:
df_with['뉴스제목'] = df_with['뉴스제목'].str.replace('\s+', ' ', regex=True)
df_with['뉴스제목'] = df_with['뉴스제목'].map(lambda x: re.sub('[0-9,.!·,…*>%@#&$<_?.:\“\/\”\’\'\"\^\\‘\|\`\(\)\[\]\{\}]', '', x))
df_with['뉴스제목'] = df_with['뉴스제목'].map(lambda x: re.sub('\u200c', '', x))
df_with['뉴스제목'] = df_with['뉴스제목'].map(lambda x: re.sub('[-–ㆍ]', ' ', x))

stop_words = ['\u200c','\n ','\n',"'",'…',',','[',']','(',')','"','주','에','·','장','-','적',\
              '도','‘','`','가','’','의','이','★','은','“','대','”','한','B','로',\
              '?','선','A','는','!','"…','상','들','제','…"','일','서','명',"'…",'기',\
              '···','소','등','자','전','률','미','...','세','시','안','폭',"…'",'만','억',\
              '눈','더','량','고','인','성','다','감','을','지','수','것','째',\
              '기','···','중','계','왜','총','내','과','젠','또','연','엔','차','할',\
              '새','사','때','..','임','속','’…','G','나','개','원',\
             '달','→','권','?…','간','배','K','저','와','하','/','조','두','분','형',\
             '황','공','&','보','문','익','X','억원',']"','치','산','를','오','해','S','그','된','준','▶',\
             '건','재','반','라','년','초','분','월','신','p','급','줄','경','구','진','올','발','vs','강',\
             '국','난','판','면','"(','`…','살','아','번','텍','팜','Q','메','점','월',\
             'D','비','됐다','채',"]'",'보니','손','확','종','동','팔','타','~','땐','말','요',\
             "',",'스','…`','단','길','회','호','용','듯','최']

df_with['뉴스제목'] = [each_word for each_word in df_with['뉴스제목'] if each_word not in stop_words]

In [4]:
df_with

                                     뉴스제목  주가변동
0            LG생활건강 숨° 로시크숨마 황제의 빛 에디션 선봬     1
1            IRSK이노베이션 내년 시설투자 올해보다 낮은 수준     1
2               수출입銀 CJ대한통운 해외채권 발행 공동 보증     0
3       브랜드 아파트 만원대에 마련할 마지막 기회 사천 KCC스위첸     1
4                 LG전자 뉴욕 한복판에서 영화 상영한 사연     0
...                                   ...   ...
611468    한국항공우주 인니에 억원 규모 KT B 훈련기 공급 계약     1
611469                  하이트진로 세 박태영 사장 승진     1
611470          특징주 형제의 난 재점화 가능성에롯데지주 강세     0
611471        제일기획 비상교육과 청소년 대상 마음 교과서 개발     1
611472       KT주도 클라우드 원팀에 한컴 등 개 기업기관 합류     0

[611473 rows x 2 columns]

In [15]:
with open('./with_name/LDA_topictable.pkl', 'rb') as f:
    topictable = pickle.load(f)

In [7]:
topictable

,문서 번호,가장 비중이 높은 토픽,가장 높은 토픽의 비중,각 토픽의 비중
0,0,1.0,0.9640,"[(0, 0.035994086), (1, 0.96400595)]"
1,1,0.0,0.9440,"[(0, 0.94404787), (1, 0.055952135)]"
2,2,0.0,0.6790,"[(0, 0.6790463), (1, 0.32095373)]"
3,3,0.0,0.9012,"[(0, 0.90122193), (1, 0.09877808)]"
4,4,1.0,0.9518,"[(0, 0.048231106), (1, 0.9517689)]"
...,...,...,...,...
611468,611468,0.0,0.8536,"[(0, 0.8535616), (1, 0.14643842)]"
611469,611469,0.0,0.7068,"[(0, 0.7068181), (1, 0.2931819)]"
611470,611470,1.0,0.8101,"[(0, 0.1899097), (1, 0.8100903)]"
611471,611471,0.0,0.7944,"[(0, 0.79441136), (1, 0.2055887)]"
611472,611472,0.0,0.5888,"[(0, 0.58883274), (1, 0.4111673)]"

In [18]:
merged = pd.concat([df_with, topictable], axis=1)

In [21]:
merged

,뉴스제목,주가변동,문서 번호,가장 비중이 높은 토픽,가장 높은 토픽의 비중,각 토픽의 비중
0,LG생활건강 숨° 로시크숨마 황제의 빛 에디션 선봬,1,0,1,0.9640,"[(0, 0.035994086), (1, 0.96400595)]"
1,IRSK이노베이션 내년 시설투자 올해보다 낮은 수준,1,1,0,0.9440,"[(0, 0.94404787), (1, 0.055952135)]"
2,수출입銀 CJ대한통운 해외채권 발행 공동 보증,0,2,0,0.6790,"[(0, 0.6790463), (1, 0.32095373)]"
3,브랜드 아파트 만원대에 마련할 마지막 기회 사천 KCC스위첸,1,3,0,0.9012,"[(0, 0.90122193), (1, 0.09877808)]"
4,LG전자 뉴욕 한복판에서 영화 상영한 사연,0,4,1,0.9518,"[(0, 0.048231106), (1, 0.9517689)]"
...,...,...,...,...,...,...
611468,한국항공우주 인니에 억원 규모 KT B 훈련기 공급 계약,1,611468,0,0.8536,"[(0, 0.8535616), (1, 0.14643842)]"
611469,하이트진로 세 박태영 사장 승진,1,611469,0,0.7068,"[(0, 0.7068181), (1, 0.2931819)]"
611470,특징주 형제의 난 재점화 가능성에롯데지주 강세,0,611470,1,0.8101,"[(0, 0.1899097), (1, 0.8100903)]"
611471,제일기획 비상교육과 청소년 대상 마음 교과서 개발,1,611471,0,0.7944,"[(0, 0.79441136), (1, 0.2055887)]"
611472,KT주도 클라우드 원팀에 한컴 등 개 기업기관 합류,0,611472,0,0.5888,"[(0, 0.58883274), (1, 0.4111673)]"

In [20]:
merged["가장 비중이 높은 토픽"] = merged["가장 비중이 높은 토픽"].astype(int)

In [22]:
merged2 = merged[merged["가장 비중이 높은 토픽"] == merged["주가변동"]]

In [23]:
merged2

,뉴스제목,주가변동,문서 번호,가장 비중이 높은 토픽,가장 높은 토픽의 비중,각 토픽의 비중
0,LG생활건강 숨° 로시크숨마 황제의 빛 에디션 선봬,1,0,1,0.9640,"[(0, 0.035994086), (1, 0.96400595)]"
2,수출입銀 CJ대한통운 해외채권 발행 공동 보증,0,2,0,0.6790,"[(0, 0.6790463), (1, 0.32095373)]"
6,SK에너지GS칼텍스 공유경제동반성장 다 잡았다,0,6,0,0.9211,"[(0, 0.9211468), (1, 0.078853145)]"
9,CNN 한국 대표 혁신 기업으로 삼성전자 소개,0,9,0,0.9234,"[(0, 0.92337716), (1, 0.0766229)]"
10,한경로보뉴스 맥쿼리인프라 주 신고가 경신,1,10,1,0.9390,"[(0, 0.06101659), (1, 0.9389834)]"
...,...,...,...,...,...,...
611457,한샘 분기 이후 실적 턴어라운드 예상 KTB,0,611457,0,0.7651,"[(0, 0.76507807), (1, 0.2349219)]"
611458,한미약품 임직원 자녀 위한 꿈나무어린이집 개원,1,611458,1,0.5119,"[(0, 0.4881193), (1, 0.51188064)]"
611461,단독 백신 대란에SK바이오사이언스 독감 접고 코로나 백신 생산 올인,1,611461,1,0.9454,"[(0, 0.05455975), (1, 0.9454403)]"
611466,CJ제일제당 글로벌 수준 경영 인프라 구축,0,611466,0,0.5721,"[(0, 0.57210296), (1, 0.42789704)]"
611472,KT주도 클라우드 원팀에 한컴 등 개 기업기관 합류,0,611472,0,0.5888,"[(0, 0.58883274), (1, 0.4111673)]"

In [24]:
merged2_up = merged2[merged2["주가변동"] == 1]
merged2_down = merged2[merged2["주가변동"] == 0]

In [25]:
merged2_up.shape, merged2_down.shape

((124255, 6), (180822, 6))

In [29]:

merged_final = merged2[["뉴스제목", "주가변동"]].copy()

In [30]:
merged_final.shape

(305077, 2)

In [31]:
with open('./with_name/LDA_merged_final.pkl', 'wb') as f:
    pickle.dump(merged_final, f)